.head {
    text-align: center;
    width: 100%;
    color:white;
    
}
.form-group {
    color:white;
}
.credits {
    color:white;
}
body {
    margin: 0%;
    background-image: url("../image/music.jpg")
}
#result {
    text-align: centre;
    color: white;
}
#list-items {
    color: white;
}